<nav class="navbar navbar-dark bg-dark">
    <button  type="button" class="navbar-toggler" (click)="navService.toggleSideNav()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="navbar-brand">Notes App</h1>
      <div>
    <button class="btn btn-info" (click)="addNotes()" [disabled]="navService.disableAddNote">
        <i class="fa fa-pencil-square-o fa-lg" aria-hidden="true"></i>
    </button>
    <button class="btn btn-info" (click)="deleteNotes()" [disabled]="navService.disableDeleteNote">
        <i class="fa fa-trash-o fa-lg" aria-hidden="true"></i>
    </button>
  </div>
  </nav>